<div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
	<mat-card
		class="login-card"
		fxLayout="column"
		fxFlex="20"
		fxLayoutGap="8px"
	>
		<mat-card-header fxLayout="row">
			<mat-card-title> Register </mat-card-title>
		</mat-card-header>

		<mat-card-content fxLayout="row" fxFlex>
			<form
				[formGroup]="form"
				autocomplete="off"
				(ngSubmit)="onSubmit()"
				fxLayout="column"
				fxFlexFill
				fxLayoutGap="8px"
			>
				<mat-form-field appearance="fill" color="accent">
					<mat-label>Enter your username</mat-label>
					<input
						matInput
						[type]="'text'"
						formControlName="username"
						ngDefaultControl
					/>
					<mat-error *ngIf="form.get('username')?.errors?.required">
						Username is required.
					</mat-error>
				</mat-form-field>
				<mat-form-field appearance="fill" color="accent">
					<mat-label>Enter your password</mat-label>
					<input
						matInput
						[type]="hidePassword ? 'password' : 'text'"
						formControlName="password"
						(input)="onPasswordInput()"
					/>
					<mat-error *ngIf="form.get('password')?.errors?.required">
						Password is required.
					</mat-error>
					<a
						mat-icon-button
						matSuffix
						(click)="toggleHidePassword($event)"
						[attr.aria-label]="'Hide password'"
						[attr.aria-pressed]="hidePassword"
						(dblclick)="$event.preventDefault()"
					>
						<mat-icon>{{
							hidePassword ? "visibility_off" : "visibility"
						}}</mat-icon>
					</a>
				</mat-form-field>

				<mat-form-field appearance="fill" color="accent">
					<mat-label>Confirm your password</mat-label>
					<input
						matInput
						[type]="hideConfirmPassword ? 'password' : 'text'"
						formControlName="confirmPassword"
						(input)="onPasswordInput()"
					/>
					<mat-error *ngIf="confirmPassword?.hasError('required')"
						>Confirm your password</mat-error
					>
					<mat-error
						*ngIf="
							confirmPassword?.invalid &&
							!confirmPassword?.hasError('required')
						"
						>Passwords don't match</mat-error
					>
					<a
						mat-icon-button
						matSuffix
						(click)="toggleHideConfirmPassword($event)"
						[attr.aria-label]="'Hide password'"
						[attr.aria-pressed]="hideConfirmPassword"
						(dblclick)="$event.preventDefault()"
					>
						<mat-icon>{{
							hideConfirmPassword
								? "visibility_off"
								: "visibility"
						}}</mat-icon>
					</a>
				</mat-form-field>
			</form>
		</mat-card-content>

		<mat-card-actions
			fxLayout="row"
			fxLayoutAlign="end center"
			class="login-actions"
			fxFlex
		>
			<button
				mat-raised-button
				color="accent"
				(click)="onSubmit()"
				[loading]="isLoading() | async"
			>
				Register &nbsp;
				<mat-icon>login</mat-icon>
			</button>
		</mat-card-actions>
	</mat-card>
</div>
