.grid-container{
	right: 0;
	left: 0;
	top: 32px;
	bottom: 0;
	position: sticky;
}
.dashboard-card {
	position: absolute;
	top: 16px;
	left: 16px;
	right: 16px;
	bottom: 16px;
}

.more-button {
	position: absolute;
	top: 5px;
	right: 10px;
}

.dashboard-card-content {
	text-align: center;
}
