<ng-scrollbar appearance="compact">
	<table
		mat-table
		matSort
		aria-label="Elements"
		[dataSource]="dataSource"
		class="table symbols-list-table"
		matSortDisableClear
		[matSortActive]="config.initialSort"
		[matSortDirection]="config.initialDirection"
		[width]="'100%'"
	>
		<ng-container *ngFor="let column of config.columns;" [matColumnDef]="column.name">
			<th
				mat-header-cell
				*matHeaderCellDef
				[mat-sort-header]="column.name"
				[width]="column.width"
				[disabled]="
					dataSource?.getIsLoading() | async
				"
			>
				{{column.displayName}}
			</th>
			<td mat-cell *matCellDef="let row">
				<a *ngIf="column.isLink"
				   href="#"
				   mat-button
				>{{ row[column.name] }}
				</a>
				<span *ngIf="!column.isLink">
					{{ row[column.name] }}
				</span>
			</td>
		</ng-container>


			<tr
				mat-row
				*matRowDef="let row; columns: displayedColumns"
			></tr>
		<tr
			mat-header-row
			*matHeaderRowDef="displayedColumns; sticky: true"
		></tr>
	</table>

	<div
		class="spinner-container"
		*ngIf="dataSource?.getIsLoading() | async"
	>
		<mat-spinner></mat-spinner>
	</div>
</ng-scrollbar>
<div class="table-paginator">
	<mat-paginator
		[disabled]="dataSource?.getIsLoading() | async"
		[length]="dataSource?.getTotalItems() | async"
		[pageIndex]="0"
		[pageSize]="config.paginator[0]"
		[pageSizeOptions]="config.paginator"
	>
	</mat-paginator>
</div>
