.identifier-container {
	width: 90px;
}

.isin-container {
	width: 160px;
}

.tab-icon {
	margin-right: 8px;
}

/* SCSS */
.mat-list-item.mat-list-item-word-wrap {
	height: initial !important;
	.mat-line {
		word-wrap: break-word !important;
		white-space: pre-wrap !important;
	}
}

.prop-label {
	min-width: 120px;
}

.no-overflow {
	overflow: visible;
}

.apply-indicators {
	margin-top: 8px;
	text-align: right;
}
