<div fxFlexFill>
	<div fxFlex="35" fxLayout="column" class="description-container">
		<div fxLayoutGap="8px" fxLayoutAlign="center center" class="description-label">
			<mat-icon>info</mat-icon>
			<span fxFlex="95">Description:</span>
		</div>

		<ngx-skeleton-loader *ngIf="isLoadingSubject | async" count="10"
							 [theme]="SKELETON_THEMES.LONG">
		</ngx-skeleton-loader>
		<span>
			{{(symbolOverviewSubject | async)?.description }}
		</span>
	</div>

	<div fxFlex>
		<mat-list fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="-8px">
			<mat-list-item class="mat-list-item-word-wrap">
				<mat-icon mat-list-icon>location_on</mat-icon>
				Location:
				<ngx-skeleton-loader *ngIf="isLoadingSubject | async" count="1" [theme]="SKELETON_THEMES.LONG" >
				</ngx-skeleton-loader>
				{{(symbolOverviewSubject | async)?.address }}
			</mat-list-item>
			<mat-list-item class="mat-list-item-word-wrap">
				<mat-icon mat-list-icon>language</mat-icon>
				Country:
				<ngx-skeleton-loader *ngIf="isLoadingSubject | async" count="1" [theme]="SKELETON_THEMES.SHORT" >
				</ngx-skeleton-loader>
				{{(symbolOverviewSubject | async)?.country }}
			</mat-list-item>
			<mat-list-item class="mat-list-item-word-wrap">
				<mat-icon mat-list-icon>pie_chart</mat-icon>
				Sector:
				<ngx-skeleton-loader *ngIf="isLoadingSubject | async" count="1" [theme]="SKELETON_THEMES.MEDIUM" >
				</ngx-skeleton-loader>
				{{(symbolOverviewSubject | async)?.sector }}
			</mat-list-item>
			<mat-list-item class="mat-list-item-word-wrap">
				<mat-icon mat-list-icon>domain</mat-icon>
				Industry:
				<ngx-skeleton-loader *ngIf="isLoadingSubject | async" count="1" [theme]="SKELETON_THEMES.MEDIUM" >
				</ngx-skeleton-loader>
				{{(symbolOverviewSubject | async)?.industry }}
			</mat-list-item>
			<mat-list-item class="mat-list-item-word-wrap">
				<mat-icon mat-list-icon>person</mat-icon>
				Full Time Employees:
				<ngx-skeleton-loader *ngIf="isLoadingSubject | async" count="1" [theme]="SKELETON_THEMES.SHORT" >
				</ngx-skeleton-loader>
				{{(symbolOverviewSubject | async)?.fullTimeEmployees }}
			</mat-list-item>
			<mat-list-item class="mat-list-item-word-wrap">
				<mat-icon mat-list-icon>date_range</mat-icon> Fiscal Year End:
				<ngx-skeleton-loader *ngIf="isLoadingSubject | async" count="1" [theme]="SKELETON_THEMES.SHORT" >
				</ngx-skeleton-loader>
				{{(symbolOverviewSubject | async)?.fiscalYearEnd }}
			</mat-list-item>
			<mat-list-item class="mat-list-item-word-wrap">
				<mat-icon mat-list-icon>event</mat-icon> Latest Quarter:
				<ngx-skeleton-loader *ngIf="isLoadingSubject | async" count="1" [theme]="SKELETON_THEMES.SHORT" >
				</ngx-skeleton-loader>
				{{(symbolOverviewSubject | async)?.latestQuarter | date }}
			</mat-list-item>
		</mat-list>
	</div>
</div>
