<div
	fxFlexFill
	fxLayout="column"
	fxLayoutAlign="start stretch"
	class="content"
	fxLayoutGap="16px"
>
	<div fxLayout="row" fxFlex="5" fxLayoutAlign="start center">
		<div fxLayout="column" fxFlex="15">
			<div fxLayout="row" fxFlexFill fxLayoutAlign="start center">
				<button
					mat-icon-button
					class="back-button"
					[routerLink]="['/private']"
				>
					<mat-icon>arrow_back</mat-icon>
				</button>
				<h1 class="mat-h1 nm">Symbols</h1>
			</div>
		</div>
		<div fxLayout="row" fxFlex fxLayoutAlign="end center">
			<button mat-icon-button (click)="refreshTable()">
				<mat-icon>search</mat-icon>
			</button>
			<mat-form-field class="mat-input" color="accent" fxFlex="30">
				<mat-label>Search by ISIN, Identifier or Name</mat-label>
				<input
					matInput
					type="text"
					autocomplete="off"
					[(ngModel)]="searchString"
				/>
			</mat-form-field>
		</div>
	</div>

	<div fxLayout="row" fxFlex fxLayoutAlign="center center">
		<div fxLayout="column" fxFlexFill fxLayoutAlign="start stretch">
			<mat-card class="mat-elevation-z8 symbols-list-card">
				<h3 class="mat-h3">List</h3>
				<mat-card-content>
					<div class="table-card-content">
						<app-paged-table [config]="tableConfig">
						</app-paged-table>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
