.table-container {
	overflow-y: scroll;
	max-height: calc(100vh - 300px);
	height: calc(100vh - 300px);
}

.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 56px);
}

.divider {
	margin-bottom: 32px;
}

.table-card-content {
	padding-top: 16px;
}

.nm {
	margin: 0;
}

.content {
	padding: 16px;
}


