<div fxFlexFill  fxLayout="row" fxLayoutAlign="center center">
	<mat-card class="login-card">
		<mat-card-header>
			<mat-card-title>
				Login
			</mat-card-title>
		</mat-card-header>
		<form [formGroup]="form" autocomplete="off" (ngSubmit)="onSubmit()" fxLayout="column wrap"
			  fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-content>
					<mat-form-field appearance="fill" color="accent">
						<mat-label>Enter your username</mat-label>
						<input matInput [type]="'text'" formControlName="username" ngDefaultControl>
						<mat-error *ngIf="form.get('username')?.invalid">
							{{ form.get('username')?.errors?.toString() }}
						</mat-error>
					</mat-form-field>
					<mat-form-field appearance="fill" color="accent">
						<mat-label >Enter your password</mat-label>
						<input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
						<button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
							<mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
						</button>
					</mat-form-field>
					<mat-checkbox color="accent">Remember me</mat-checkbox>
			</mat-card-content>
		</form>
		<mat-card-actions class="login-actions">
			<button mat-raised-button color="accent" (click)="onSubmit()" [loading]="(isLoading() | async)">
				Login &nbsp;
				<mat-icon>login</mat-icon>
			</button>
		</mat-card-actions>
	</mat-card>

</div>
