<div fxLayout="column"
	 fxLayoutGap="16px">
	<div fxLayout="row">
		<div [fxFlex]="100 / optionLists.length" *ngFor="let list of optionLists;" matRipple class="admin-options">
			<mat-list>
				<mat-list-item *ngFor="let option of list;" [routerLink]="option.route" class="admin-option">
					<fa-icon mat-list-icon *ngIf="!option.isMatIcon" [icon]="option.faIcon"></fa-icon>
					<mat-icon mat-list-icon *ngIf="option.isMatIcon">{{option.matIcon}}</mat-icon>
					<div mat-line>
						{{option.title}}
					</div>
					<div mat-line>
						{{option.subtitle}}
					</div>
				</mat-list-item>
			</mat-list>
		</div>
		<mat-list>
		</mat-list>
	</div>
</div>
